.todo-item{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item .todo-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin-right: 20px;
}

.dltBtn{
    border: 1px solid #ff0b37;
    color: #ff0b37;
    background-color: transparent;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

@media  screen and (max-width: 767.5px) {
    .todo-item{
        width: 100%;
    }
    .todo-item .todo-title{
        font-size: 14px;
    }
    
}